.badges {
    display: inline-flex;
    gap: 0.5rem;
    margin-right: 0.5rem;
    &:last-child {
        margin-right: 0;
    }
  }
  
  .badge {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 4px;
    border-radius: 4px;
  //   width: 2rem;
  //   height: 2rem;
  //   border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-design {
      color: #3a741f;
      background: #dffdc7;
    }
    &-frontend {
      color: #1c6965;
      background: #c7fdf0;
    }
    &-backend {
      color: #4e3478;
      background: #ccc7fd;
    }
  }