{% macro heading(title, tagline) %}
  <main class="heading">
    <div class="container">
      <h1 class="heading-title">{{ title }}</h1>
      <p class="heading-tagline">{{ tagline }}</p>
    </div>
  </main>
{% endmacro %}