<header>
  <div class="container">
    <div class="site-header">
      <div class="logo">
        <a href="/">Jack McKenzie</a>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item{% if page_title == 'About' %} active{% endif %}">
            <a href="./about.html">About</a>
          </li>
          <li class="nav-item{% if page_title == 'Work' %} active{% endif %}">
            <a href="/">Skills</a>
          </li>
          <li class="nav-item{% if page_title == 'Work' %} active{% endif %}">
            <a href="/">Experience</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>