<header>
  <div class="container">
    {# <div class="row"> #}
    {# <div class="col"> #}
    <div class="site-header">
      <div class="logo">
        <a href="/">Jack McKenzie</a>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item{% if page_title == 'Work' %} active{% endif %}">
            <a href="/">Work</a>
          </li>
          <li class="nav-item{% if page_title == 'About' %} active{% endif %}">
            <a href="./about.html">About</a>
          </li>
          {# <li class="nav-item">
            <a href="./contact.html">Contact</a>
          </li> #}
        </ul>
      </nav>
      {# </div> #}
      {# </div> #}
    </div>
  </div>
</header>