{% macro heading(title, tagline) %}
  <main class="heading">
    <div class="container">
    {# <div class="row"> #}
    {# <div class="col-xl-10"> #}
      <h1 class="heading-title">{{ title }}</h1>
      <p class="heading-tagline">{{ tagline }}</p>
      {# </div> #}
      {# </div> #}
    </div>
  </main>
{% endmacro %}