{% macro project(id, title, paragraphs, highlights, tags, images) %}

  <div id="{{ id }}" class="project reveal" aria-expanded="false">
    <button class="reveal-trigger">
      <h3>{{ title }}</h3>
      {% if tags %}
        <div class="badges">
          {% for tag in tags %}
            {% if tag == 'FE' %}
              <span class="badge badge-frontend">Frontend</span>
            {% elif tag == 'PD' %}
              <span class="badge badge-design">Design</span>
            {% elif tag == 'BE' %}
              <span class="badge badge-backend">Backend</span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <span class="reveal-info">Click to show more</span>
    </button>
    <div class="reveal-content">
      <div class="reveal-content-inner">
        {% if images %}
          <div class="project-images">
            {% for image, description in images %}
              <a data-fslightbox="{{ id }}" class="project-image" href="/img/projects/{{ image }}" data-description="{{ description }}"><img src="/img/projects/{{ image }}" alt="{{ description }}" /></a>
            {% endfor %}
          </div>
        {% endif %}
        {% for paragraph in paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        {% if highlights %}
          <p class="list-header">Highlights</p>
          <ul>
            {% for highlight in highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}