{% set page_title = 'About' %}
{% set body_id = 'about' %}

{% import "partials/heading.njk" as heading %}

{% extends "layouts/layout.njk" %}

{% block content %}
  {{ heading.heading('About Me', "I'm a front-end developer with a background in design based in Perth, Western Australia.") }}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <h2>What I do</h2>
          <p>I enjoy collaborating with clever people to build clean, creative solutions to complex problems, that can be used by anybody.</p>
          <p>I get excited seeing 100% coverage on a Typescript component I'm building.</p>
          <h2>Tech I love</h2>
          <p>Figma 💖<br/>
             React<br/>
             Typescript<br/>
             Django</p>
          <h2>The misc. stuff</h2>
          <ul>
            <li>I used to dabble in local theatre, acting, singing, <a href="http://perththeatrereviews.blogspot.com.au/2014/04/closer-koorliny-arts-centre-15-february.html">directing</a> and playing bass guitar.</li>
            <li>I've also played <a href="https://www.youtube.com/watch?v=oOz8L7pg2Lc">plenty of gigs</a> in a couple of local bands.</li>
            <li>Award-winningly funny: I won "The Comedian" award at Last Yard's end of year wrap 2021</li>
            <li>I love cooking.</li>
            <li>My absolute favourite thing to do is spend time with my lovely wife.</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <img src="img/jack_headshot.jpg" alt="Photo of Jack McKenzie" style="width: 100%; max-width: 400px;"/>
        </div>
      </div>
    </div>
  </div>
{% endblock %}