.topbar
	display: block
	// background-color: #e9eeed
	margin: 0
	padding: 0

	// padding-top: 10px
	// padding-bottom: 10px
	// height: 40px
	> div
		border-bottom: 1px solid $jackmid

.logo
	@include span(6)
	position: relative
	outline: 1px solid $jackred
	// background-color: green
	margin-top: 5px
	padding: 0
	height: 100%
	vertical-align: bottom
	// vertical-align: center
	// font-size: ms(1)
	@include breakpoint((max-width: 42em))
		// margin-top: 32px
		@include span(12)
	h3
		// font-size: ms(2)
		line-height: 1
		margin-top: 14px
		color: $jackaqua
		@include breakpoint((max-width: 42em))
			font-size: ms(2)
			text-align: center
			margin-top: 0

.topnav
	// @include clearfix
	margin-top: 36px
	@include span(last 3)
	background-color: yellow
	@include breakpoint((max-width: 42em))
		@include span(last 6)
	@include breakpoint((max-width: 60em))
		@include span(12)


.nav-item

	display: inline-block
	background-color: blue 
	@include span(1 of 3)
	@include breakpoint((max-width: 42em))
		@include span(2 of 6)
	@include breakpoint((max-width: 60em))
		@include span(4 of 12)

	
	// background-color: #669FB3
	text-align: left
	// outline: 1px solid white
	// margin-top: 5px
	// @include span (1.5)
	&:last-child
		@include span(1 of 3 last)
		@include breakpoint((max-width: 60em))
			@include span(4 of 12 last)
		@include breakpoint((max-width: 42em))
			@include span(2 of 6 last)
	a
		display: block
		text-decoration: none
		padding: 10px 0
		// margin-left: 10%
		// margin-right: 10%
		color: $jackaqua
		@include transition(all .2s ease)

		&:hover
			color: $jackorange

// .nav-item:nth-child(1)
// 	@include span(1 of $nav_susy)
// 	// padding-right: 30px
// // 
// .nav-item:nth-child(2)
// 	@include span(1 of $nav_susy)
// 	// padding-right: 30px
// // 
// .nav-item:nth-child(3)
// 	@include span(last 1 of $nav_susy)
// 	// padding-right: 30px
// 

// .nav-item:nth-child(1)
	// @include span(2 at 1 of 8)

// .nav-item:nth-child(2)
	// @include span(2 at 3 of 8)

// .nav-item:nth-child(3)
	// @include span(2 at 5 of 8)

// .nav-item:nth-child(4)
	// @include span(2 at 7 of 8)